<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  
  <body>
    <center>
      <div class="d-flex justify-content-center">
        <div class = "container-fluid" style="margin:25px">
        </div>
      </div>
    </center>
    
    <div class = "container-fluid">
      
      <div class="row">
        
        <div class="col-lg-8">
          <table class="table table-striped table-hover" style="table-layout: fixed">
            <tr>
              <th colspan="2"><h3>Students</h3></th>
            </tr>
            <tr>
              <td style="width: 100px"><h5>Name</h5></td>
              <td><h5>Reason</h5></td>
            </tr>

            <% @students.each do |student| %>
            <tr>
              <td "width: 75px"><%= student.name %>
                <% if student.being_helped %>
                <span class="badge badge-primary">
                  being helped by <%= student.helped_by %>
                </span>
                <% if logged_in? %>
                <%= link_to "End Session", end_session_path(ta_id: current_user.id, student_id: student.id),  :class => "btn btn-info" %>
                <% end %>
                <% else %>
                <span class="badge badge-warning">
                  waiting
                </span>
                <% if logged_in? %>
                <%= link_to "Help", help_path(ta_id: current_user.id, student_id: student.id, ta_name: current_user.name),  :class => "btn btn-info" %>
                <% end %>
                <% end %>
              </td>
              <td><%= student.reason %></td>
            </tr>
            <% end %>
          </table>
        </div>
        
        <div class="col-lg-4">
          <table class="table table-hover table-striped">
            <tr>
              <th colspan="2"><h3>TAs</h3></th>
            </tr>
            <tr>
              <td><h5>Name</h5></td>
              <td><h5>Status</h5></td>
            </tr>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td>
                <% if !user.active.nil? && user.active %>
                TA is ready to help
                <% else %>
                TA does not have hours right now
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        
      </div>
      
    </div>

    <div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="courseModalLabel">Choose a course to have TA hours for</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% @courses.each do |course| %>
            <%= course.name %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Choose this course</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

