<h1>Get Help</h1>

<div>
  <div>
    <%= form_for(Student.new(), url: get_help_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :reason %>
      <%= f.text_field :reason, class: 'form-control' %>
      
      <%= f.submit "Enter Queue", class: "btn btn-primary", :disabled => @is_session_active %>
      <%= link_to "Leave Queue", end_student_session_path(student_id: current_user.canvas_id), :class => "btn btn-info" %>
      <% end %>
  </div>
</div>