<% provide(:title, 'Dashboard') %>
<h1>Dashboard</h1>
<div class="flex-container">
  <div class="flex-kids">
    <% if @set_hours %>
    <%= pie_chart @hours_worked, donut: true %>
    <% else %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <%= form_for(@user, url: users_edit_url(params[:id])) do |f| %>
         <%= f.label :weekly_hours %>
         <%= f.text_field :weekly_hours %>

         <%= f.submit "Add Weekly Hours", class: "btn btn-primary" %>
         <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="flex-kids">
    <% if @set_semester %>
    <%= area_chart @help_averages, width: "400px" %>
    <% else %>
    <div class="container-fluid">
      <%= render 'semesters/new' %>
    </div>
    <% end %>
  </div>
</div>
