<header id="navbar">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><%= link_to "TA Queue", root_url, :class => "navbar-brand" %></a>
  <% if is_ta? %>
  <a class="navbar-brand" href="#"><%= link_to "Dashboard", users_dashboard_url, :class => "navbar-brand" %></a>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropdown-content a:hover {background-color: #f1f1f1;}
      .dropdown:hover .dropdown-content {display: block;}
      .dropdown:hover .dropbtn {background-color: #3e8e41;}
    </style>
    </head>
    <body>

    <div class="dropdown" style="float:right;">
      <button class="dropbtn">Time Limit</button>
      <div class="dropdown-content">
        <%= link_to '5 min', user_set_limit_url(:new_limit => 5), method: :post %>
        <%= link_to '10 min', user_set_limit_url(:new_limit => 10), method: :post %>
        <%= link_to '20 min', user_set_limit_url(:new_limit => 20), method: :post %>
      </div>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <div class="btn-group">
      </div>
    </ul>
  </div>
    <% if logged_in? %>
    <span class="navbar-text">
      <p class="text-white" style="padding:15px 5px 0px">
	Logged in as: <br> <%= current_user.name %>
	<br> <%= current_course.name %>
      </p>
    </span>
    <div class="btn-group clockin-group">
      <% if is_ta? %>
        <% if active? %>
        <form class="clockin-btn" action="<%= end_path(current_user.id) %>">
        <button type="submit" class="btn btn-info">
          End TA Hours
        </button>
        </form>
        <% else %>
        <form class="clockin-btn" action="<%= start_path(current_user.id) %>">
        <button type="submit" class="btn btn-info">
          Start TA Hours
        </button>
        </form>
        <% end %>
        <body>
        <div class="clock"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
        <script type="text/javascript">
          var clock = new FlipClock($('.clock'),{
              clockFace: 'HourlyCounter',
              autoStart: false
          });
          <% if active? %>
          clock.setTime(<%= Time.current - current_user.clocked_in_time + current_user.weekly_time %>);
          clock.start();
          <% else %>
            <% if current_user.weekly_time != nil %>
              clock.setTime(<%= current_user.weekly_time %>);
            <% end %>
          <% end %>
        </script>
        </body>
      <% end %>
    </div>
    <% end %>
</nav>

</header>
