<% provide(:title, 'Create Course') %>
<h1>Create Course</h1>

<div>
  <div>
    <%= form_for(@course, url: create_course_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :prefix %>
      <%= f.text_field :prefix, class: 'form-control' %>

      <%= f.label :course_code %>
      <%= f.text_field :course_code, class: 'form-control' %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Create course", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
