<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header id="navbar">
    <title>TA Queue</title>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><%= link_to "TA Queue", root_url, :class => "navbar-brand" %></a>
  <% if active_course? %>
  <small class="text-muted"><%= current_course.name %></small>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <div class="btn-group">
        <li class="nav-item">
          <%= link_to "Home", root_url, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Get Help", get_help_path,  :class => "nav-link" %>
        </li>
      </div>
    </ul>
    <span class="navbar-text">
      <% if logged_in? %>
      <p class="text-white" style="padding:15px 5px 0px"> Logged in as: <br> <%= current_user.name %> </p>
      <% end %>
    </span>
    <div class="btn-group">
      <button type="button" class="btn btn-info">
        <% if logged_in? %>
        <div class="ta-clock">
          <div class="clock"></div>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>

          <script type="text/javascript">
            var clock = $('.clock').FlipClock();
          </script>
        </div>
        <% if active? %>
        <%= link_to "End TA Hours", end_path(current_user.id),  :class => "btn btn-info" %>
        <% else %>
        <%= link_to "Start TA Hours", start_path(current_user.id),  :class => "btn btn-info" %>
        <% end %>
        <%= link_to "Sign out", logout_path(id: current_user.id),  method: :delete, :class => "btn btn-info" %>
        <% else %>
        <%= link_to "TA Sign in", login_path,  :class => "btn btn-info" %>
        <% end %>
      </button>
    </div>
</nav>



</header>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <%= yield %>
</body>

</html>
